<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.sol.app.qna.QnaMapper">
  
  	<select id="getList" resultType="QnaVO" parameterType="Pager">
  		SELECT		*
  		FROM		QNA
  		<where>		
  			<if test="kind == 'k1'">
  				BOARD_WRITER LIKE CONCAT('%', #{search}, '%')
  			</if>
  			<if test="kind == 'k2'">
  				BOARD_CONTENTS LIKE CONCAT('%', #{search}, '%')
  			</if>
  			<if test="kind == 'k3'">
  				BOARD_TITLE LIKE CONCAT('%', #{search}, '%')
  			</if>
  		</where>
  		ORDER BY	BOARD_NUM DESC
  		LIMIT		#{startRow}, #{perPage}
  	</select>
  	
  	<insert id="add" parameterType="QnaVO" useGeneratedKeys="true" keyProperty="boardNum">
  		INSERT INTO QNA
  		VALUES (#{boardNum}, #{boardWriter}, #{boardTitle}, #{boardContents}, now(), #{ref}, #{step}, #{depth})
  	</insert>
  	
  	<update id="refUpdate" parameterType="QnaVO">
  		UPDATE QNA
  		SET REF = #{boardNum}
  		WHERE BOARD_NUM = #{boardNum}
  	</update>
  	
  	<select id="getDetail" parameterType="QnaVO" resultMap="detailMap">
  		SELECT	*
  		FROM	QNA q LEFT JOIN QNAFILES qf
  				ON q.BOARD_NUM = qf.BOARD_NUM
  		WHERE	q.BOARD_NUM = #{boardNum}
  	</select>
  	
  	<resultMap type="QnaVO" id="detailMap">
  		<id property="boardNum" column="BOARD_NUM"/>
  		<result property="boardWriter" column="BOARD_WRITER"/>
  		<result property="boardTitle" column="BOARD_TITLE"/>
  		<result property="boardContents" column="BOARD_Contents"/>
  		<result property="createDate" column="CREATE_DATE"/>
  		<result property="ref" column="REF"/>
  		<result property="step" column="STEP"/>
  		<result property="depth" column="DEPTH"/>
  		
  		<collection property="ar" javaType="list" ofType="QnaFileVO">
  			<id property="fileNum" column="FILE_NUM"/>
  			<result property="fileName" column="FILE_NAME"/>
  			<result property="oriName" column="ORI_NAME"/>
  		</collection>
  	</resultMap>
  	
  	<insert id="addFile" parameterType="QnaFileVO">
  		INSERT INTO QNAFILES (FILE_NAME, ORI_NAME, BOARD_NUM)
  		VALUES (#{fileName}, #{oriName}, #{boardNum})
  	</insert>

	<select id="getFileDetail" parameterType="QnaFileVO" resultType="QnaFileVO">
		SELECT	*
		FROM	QNAFILES
		WHERE	FILE_NUM=#{fileNum}
	</select>
	
  </mapper>